<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>

		<div id="app">
			<btn-counter></btn-counter>
			<btn-counter></btn-counter>
			<btn-counter></btn-counter>



			<blog title="这是博客组件标题1"></blog>
			<blog title="这是博客组件标题2"></blog>
			<blog title="这是博客组件标题2"></blog>



			<!-- 父元素中的data数据，传入到了子组件的props中 -->
			<div :style="{fontSize:postsize+'em'}">
				<!-- 自定义事件，然后用$emit来触发 -->
				<post v-for="post in posts" :v-key="posts.index" :post=post @enlarge-text="postsize += 0.1">
					这是插槽插入的内容
				</post>
				<post v-for="post in posts" :v-key="posts.index" :post=post @enlarge-text="postsize += 0.1">
					这是插槽插入的内容2
				</post>
			</div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 创建一个基础组件
			// 这是一个全局组件
			Vue.component('btn-counter', {
				// 如果data不是函数的话,那么复用的组件会共用一个data,这样就会数据错乱		
				// 每个实例可以维护一份被返回对象的独立的拷贝：
				data: function() {
					return {
						count: 0
					}
				},
				//属性中的变量尽量用双引号,而不是单引号
				template: '<button @click="count++">{{count}}</button>'
			})



			// 注册一个blog组件
			// 可以通过props和自定义属性来进行向子组件传值--本例: props 和 组件使用中的 title 传值
			Vue.component('blog', {
				data: function() {
					return {

					}
				},
				// 数组形式,用引号包裹起来
				props: ['title'],
				template: '<p>{{title}}</p>'
			})



			// 定义一个父组件向子组件传值的组件
			Vue.component('post', {
				data: function() {
					return {

					}
				},
				props: ['post'],
				// 模板中也需要有以一个根元素,建议用div抱起来
				// 通过$emit方法,传入事件名称,触发事件
				template: `
				<div>
				<div>{{post.title}}</div>
				<button @click="$emit('Enlarge-text')">
					Enlarge text	
				</button>
				<div>{{post.content}}</div>
				
				<slot></slot>
				</div>`
			})



			var app = new Vue({
				el: '#app',
				data: {
					posts: [{
							title: '标题1',
							content: "内容1"
						},
						{
							title: '标题2',
							content: '内容2'
						}
					],
					postsize: 1
				}
			})
		</script>
	</body>
</html>
